endpoint_add_tcp "0.0.0.0:120"
endpoint_add_udp "0.0.0.0:120"


sv_endpointPrivacy true

sv_hostname "SNI Teschi Della Morte"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 10
load_server_icon logo.png

sets sv_projetName "SNI Teschi Della Morte"
sets sv_projectDesc "server dedicato ai teschi un pò pazzi, non si accettano persone di chiesa"
sets locale "it-IT"
sets tag "esx, SNI, legacy, ita, italiano, online, gta5, gtav"
sv_scripthookAllowed 0

set onesync on
set onesync_distanceCullvehicles true
set onsync_forceMigration true
set mysql_connection_string "mysql://root@localhost/es_extended?charset=utf8mb4"
set mysql_ui true 

# Steam
sv_authmaxVariance 1
sv_authMinTrust 5

# Baseresource
ensure chat 
ensure spawnmanager 
ensure sessionmanager

# adsystemadmin
add_ace group.admin command allow 
add_ace group.admin command.quit deny 
add_ace resouce.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

# Core
ensure [esx]


#Addons
ensure [ox]
ensure bpt_cars

#Executables cfg
exec inventory.cfg
