name: Lua Lint (FiveM / ESX)

on:
  push:
    branches: [ "main", "dev" ]
  pull_request_target:
    branches: [ "*" ]

permissions:
  contents: read
  checks: write

jobs:
  lint:
    name: Luacheck (Windows Self-Hosted)
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Verify Luacheck installation
        shell: powershell
        run: |
          luacheck --version

      - name: Run Luacheck
        shell: powershell
        run: |
          luacheck . --config .luacheckrc --formatter JUnit --codes --output junit.xml

      - name: Publish Luacheck Report
        if: always()
        uses: mikepenz/action-junit-report@v6
        with:
          report_paths: "junit.xml"
          check_name: "Lua Lint Report"
          fail_on_failure: false
