name: Lua Lint (ESX)

on:
  push:
    branches: main
  pull_request:
    paths:
      - "**/*.lua"

permissions:
  checks: write
  contents: read

jobs:
  lua-lint:
    runs-on: self-hosted
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run LuaCheck
        shell: powershell
        run: |
          luacheck . `
            --formatter JUnit `
            --output luacheck-report.xml

      - name: Publish JUnit Report
        if: always()
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: luacheck-report.xml
          fail_on_failure: true
